/* background*/ 
body {
    background-color: #090a09;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #3ce27c;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: 16px;;
    margin: 20px;
    font-family: cursive;

/*div*/
div{
    width: auto;
    height: auto;
    background-color: #7bb8ae;
    padding: 10px;
    border: 1px solid #000000;
    margin: auto;
}



/*HyperLink*/
a {
    color: #1f5143;
    text-decoration: dashed;
}
a:hover {
    color: #208558;
    text-decoration: underline;
}  
}